
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1a;
    padding: 10px 20px;
    color: white;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
}
.hero {
    background: url('https://wallpapercave.com/wp/wp12253767.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}
.hero p {
    font-size: 1.5rem;
}
.categorias, .productos {
    padding: 40px;
    text-align: center;
}
.categorias-grid, .productos-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.categoria {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    font-size: 1.5rem;
    font-weight: 400;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.categoria, .producto {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    font-size: 1.5rem;
    font-weight: 400;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.categoria:hover {
    transform: scale(1.1);
}
.categoria:nth-child(1) {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png');
}
.categoria:nth-child(2) {
    background-image: url('https://occ-0-8407-92.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABc_d1IBWl8gbEh-rornoIUCfsxlW9v01bGIFqESDqOjqhwPpMID-7dRW6Bntm-VzdTnzXGAZOI_CGRr48Eck4qbqqfndbxEwplkA6fPL9nvr.png?r=241');
}
.categoria:nth-child(3) {
    background-image: url('https://vignette1.wikia.nocookie.net/deathbattle/images/1/14/Digimon_Logo.png/revision/latest?cb=20150727061429');
}
.categoria:nth-child(4) {
    background-image: url('https://cuadernoscaribe.com/image/imagenes-oficinas/Otros.png');
}
.productos-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px; /* Aumenté el espacio entre los productos */
    padding: 20px 0;
}

.producto {
    width: 250px; /* Aumenté el ancho de cada producto */
    height: 370px; /* Aumenté la altura de cada producto */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* Alineación para distribuir el contenido */
    text-align: center;
    padding: 15px; /* Aumenté el padding dentro del producto para un poco más de espacio */
    background-color: #f4f4f4;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.producto img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 280px; /* Aumenté la altura máxima de la imagen */
    object-fit: contain; /* Mantiene la imagen proporcional */
    border-radius: 8px; /* Redondeo las esquinas de las imágenes */
    margin-bottom: 10px; /* Espacio inferior entre la imagen y el texto */
}

.producto p {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 400;
}

.producto .stock {
    font-size: 0.9rem;
    color: red;
}

.producto:hover {
    transform: scale(1.1); /* Incrementé un poco más el efecto de zoom */
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.modal img {
    max-width: 80%;
    max-height: 80%;
}
.modal.active {
    display: flex;
}

.contacto, .info-empresa {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-empresa ul {
    list-style: none;
    padding: 0;
}

.info-empresa ul li {
    margin-bottom: 5px;
}

footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer-fijo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 10px;
}